* {
    outline: none;
    border: none;
    box-sizing: border-box;
}


/* .todoContainer:hover {} */
.addToolsModel,.blockOptions {
    visibility: hidden;
}
.todoContainer:hover>.addToolsModel {
    visibility: visible;
}
.todoContainerWraper:hover>.blockOptions{
    visibility: visible;
}