* {
    outline: none;
    border: none;
    box-sizing: border-box;
}


/* .todoContainer:hover {} */

.addToolsModel,
.blockOptions {
    visibility: hidden;
}

.todoContainer:hover>.addToolsModel {
    visibility: visible;
}

.todoContainerWraper:hover>.blockOptions {
    visibility: visible;
}

.todoContainer:hover .closeTodo {
    visibility: visible;
    /* opacity: .2; */
}

.priority .dropDown{
    visibility: hidden;
}

.priority:focus .dropDown,.dropDown:focus,.dropDown:hover{
    visibility: visible;
}